@charset "utf-8";

body {
    background-color: white;
}

header {
    font-size: 20px;
    min-height: 10vh;
}

main {
    min-height: 90vh;
}

nav {
    padding: 20px;
    margin: 10px;
    position: fixed; /* 화면에 고정 */
    top: 20px; /* 상단에서 떨어진 거리 */
    left: 0;
    width: 20%; /* 고정된 너비 */
    height: 100vh; /* 화면의 높이만큼 고정 */
    overflow: auto; /* 내용이 넘치면 스크롤이 생기게 */
    z-index: 1000; /* 다른 요소들 위로 배치 */
}

aside {
    padding: 20px;
    margin: 10px;
    position: fixed; /* 화면에 고정 */
    top: 20px; /* 상단에서 떨어진 거리 */
    right: 0; /* 오른쪽 고정 */
    width: 20%; /* 고정된 너비 */
    height: 100vh; /* 화면의 높이만큼 고정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
    z-index: 1000; /* 다른 요소들 위로 배치 */
    font-size: 14px; /* 글자 크기를 14px로 설정 */
}

footer {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.content-wrapper {
    display: flex; /* 플렉스 레이아웃 활성화 */
    justify-content: space-between; /* 항목 사이에 공간을 균등 배분 */
    align-items: flex-start; /* 세로 정렬 */
    margin-left: 20%; /* nav 고정 영역을 제외한 공간 */
    margin-right: 20%; /* aside 고정 영역을 제외한 공간 */
}

/* main 영역 크기 조정 */
main {
    width: 100%; /* main 영역은 남은 공간을 차지 */
    margin-left: 0; /* 왼쪽 마진 제거 */
    margin-right: 0; /* 오른쪽 마진 제거 */
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 그대로 사용 */
    font-weight: bolder; /* 부모보다 글씨 굵게*/
}

    a:hover {
        text-decoration: underline;
        color: #BDBDBD;
    }

pre {
    font-family: sans-serif;
}

#passwordPrompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    color: white;
    font-family: Arial, sans-serif;
}

    #passwordPrompt input {
        padding: 10px;
        font-size: 16px;
    }

    #passwordPrompt button {
        padding: 10px;
        font-size: 16px;
        margin-left: 10px;
    }

/* 라이트 모드 */
html[theme="light-mode"] {
    transition: 0.4s;
}

html[theme="dark-mode"] {
    filter: invert(100%) hue-rotate(180deg);
    transition: 0.4s;
}

    /* 다크 모드에서 특정 요소 제외 */
    html[theme="dark-mode"] img {
        filter: invert(100%) hue-rotate(180deg); /* 이미지 반전 방지 */
    }

#toggleTheme {
    float: right;
    margin-right: 5%;
}

#HeaderSearch {
    float: right;
    margin-right: 1%;
}

#searchResults {
    margin-top: 20px;
}

.highlight {
    background-color: lightgreen;
    font-weight: bold;
}
