@charset "utf-8";

header {
    min-height: 10vh;
    border: solid red;
}

main {
    min-height: 90vh;
}

nav {
    border: solid chocolate;
}

footer {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 600px;
}