<header>
    <!-- 사이트 제목과 검색/테마 토글 -->
    <div class="header-main">
        <a href="/index.html" class="site-logo">Kimcm Blog</a>
        <div class="header-controls">
            <input id="HeaderSearch" type="text" placeholder="검색">
            <button id="toggleTheme">다크 모드</button>
        </div>
    </div>
    <hr />
    <!-- 특정 페이지 접근을 위한 비밀번호 입력 -->
    <div id="passwordPrompt" class="hidden">
        <div>
            <p>오픈 영어로, ㅇ은 대문자</p>
            <input type="password" id="passwordInput" />
            <button>확인</button>
        </div>
    </div>
</header>
<script src="/js/indexLinks.js"></script>
